.button {
    margin: 20px 0 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    box-shadow: 2px 2px 5px  #333333 inset;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    font-size: 15px;
    margin-left: 15px;
    text-shadow: 2px 2px 5px #333333;
}